.three_dimensional_body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.svg-container {
    width: 40vh;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

svg {
    /*width: 100%;
    max-height: 35%;
    max-width: 100%;*/
    overflow: visible;
}


/* === layer buttons === */
.controls {
    display: flex;
    gap: 8px;
}

.controls button {
    font: inherit;
    padding: 6px 14px;
    border: 1px solid #7aa7b0;
    border-radius: 999px;
    background: white;
    cursor: pointer;
    transition: color 0.2s;
    /* what does this do*/
}

.controls button.active {
    background: #1d3b44;
    color: white;
}

/* === layer focus mode === */
.layer {
    transition: opacity 0.3s;
}

.svg.focus .layer {
    /* when no focus */
    opacity: 0.12;
    pointer-events: none;
    /* faded layers can't be hovered or clicked */
}

.svg.focus .layer.active {
    /* when yes focus */
    opacity: 1;
    pointer-events: auto;
}



/* === cubes === */
.cube {
    translate: 0 0;
    transition: translate 0.2s ease-out, filter 0.2s ease-out;
}

.cell:hover .cube {
    translate: 0 -4px;
    /*this pops cube up*/
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.25));
}

/*
color testing 

.topFace   { fill: #5F9EA0; }
.leftFace  { fill: #4B7F81; }
.rightFace { fill: #3A6264; }

.topFace   { fill: #967B91; }
.leftFace  { fill: #7E6678; }
.rightFace { fill: #665160; }

.topFace   { fill: #C5A85A; }
.leftFace  { fill: #A88F4C; }
.rightFace { fill: #8B763F; }

.topFace   { fill: #7189B0; }
.leftFace  { fill: #5E7395; }
.rightFace { fill: #4B5D7A; }

*/
.hit {fill: transparent;}
.topFace   { fill: #5F9EA0; }
.leftFace  { fill: #4B7F81; }
.rightFace { fill: #3A6264; }


.selected .topFace {fill: #C9825B;}
.selected .leftFace {fill: #AD6B4B;}
.selected .rightFace {fill: #90563F;}



/* === slider === */
.slider {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: #1d3b44;
}

.slider input {
    width: 200px;
    accent-color: #1d3b44;
}

.slider output {
    min-width: 2ch;
    text-align: right;
}